@import "./normalize.css";

@font-face {
  font-family: "DSM";
  src: url("../../assets/font/DroidSansMono.ttf");
}

:root {
  /* css变量 */
  --box-shadow: 0 1px 1px rgba(100, 100, 100, .1)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background-color: rgb(246, 246, 246);
}

a {
  text-decoration: none;
}

/* 设置滚动条的样式 */

::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  height: 8px;
  background-color: rgba(236, 236, 236, 0);
}


/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(255, 255, 255, .5);
}
